.big-header {
    position: relative;
    width: 100%;
    height: 720px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: #CDD5DD;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 100px;
    left: 50%;

    transform: translateX(-50%);

    z-index: 3;

    color: white;
    text-align: center;
}

.text p {
    margin: 0;

    font-weight: 900;
    font-size: 61px;
    line-height: 1.2;

    text-transform: uppercase;
}

.image {
    position: absolute;
    top: 190px;
    left: 50%;

    width: 620px;
    max-width: 65vw;

    transform: translateX(-50%) rotate(11deg);

    z-index: 4;
}

.promo {
    position: absolute;
    top: 420px;
    right: 18%;

    display: flex;
    flex-direction: column;
    gap: 31px;

    z-index: 5;
}

.promo p {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    color: black;
}

.custom-button {
    border-radius: 100px;
    padding: 18px 40px;

    background-color: #0C122A;

    text-align: center;
    color: white;

    cursor: pointer;
}

.custom-button a {
    text-decoration: none;
    color: white;
}

.elipse1 {
    position: absolute;

    width: 170vw;
    height: 650px;

    left: 50%;
    bottom: -420px;

    transform: translateX(-50%);

    background-color: white;
    border-radius: 50%;

    z-index: 2;
}