<div>

    <form action="/contact-page" method="post">
        <div>
            <label>Прізвище</label>
            <input type="text" name="last_name" value="{{user.last_name if user and user.last_name else ''}}">
        </div>
        <div>
            <label>Ім’я</label>
            <input type="text" name="first_name" value="{{user.first_name if user and user.first_name else ''}}" >
        </div>
        <div>
            <label>По батькові</label>
            <input type="text" name="second_name" value="{{user.second_name if user and user.second_name else ''}}">
        </div>
        <div>
            <label>Дата народження</label>
            <input type="text" name="date" value="{{user.date_of_birth if user and user.date_of_birth else ''}}">
        </div>
        <div>
            <label>Телефон</label>
            <input type="text" name="phone" value="{{user.phone if user and user.phone else ''}}">
        </div>
        <div>
            <label>E-mail</label>
            <input type="text" name="email" value="{{user.email if user and user.email else ''}}">
        </div>
        <button type="submit">Зберегти зміни</button>
    </form>

</div>