{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/big-header.css') }}">
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/about.css') }}">
{% endblock links %}

{% block header %}
    <div class="big-header">
        <div class="text">
            <p>
                Технології <br> Які змінюють реальність
            </p>
        </div>
        <img src="{{ url_for('static', filename='images/drone.svg') }}" alt="drone image" class="image">
        <div class="promo" >
            <p>Передові технології в одному місці. <br> 
                Обирай найкраще для найважливішого.</p>
            <div class="custom-button">
                <a href="/catalog">До каталогу</a>
            </div>
        </div>
        <div class="elipse1"></div>
    </div>

{% endblock %}

{% block content %}
    <div class="containerAbout">
        <div class="promo">
            <h2>
                ПРО НАС
            </h2>
            <p>
                Ми — команда, що об&#39;єднує технології та надійність. <br/>
                Пропонуємо дрони й тепловізори, перевірені у найскладніших умовах. <br/>
                Обираємо тільки те, чому довіряємо самі.
            </p>
            <div class="custom-button">
                <a href="/catalog">ЧИТАТИ БІЛЬШЕ</a>
            </div>
        </div>
    </div>
{% endblock %}

